<%- include('../_header'); %>
    <h1><%= title %></h1>
    <a href="/users/new">Create a new user</a>
    <ul>
    <% users.forEach(function (user) { %>
        <li>
            <a href="/users/<%= user.id %>"><b><%= user.name %></b></a>
            <a href="/users/<%= user.id %>/edit">Edit</a>
            <a href="/users/<%= user.id %>/destroy">Destroy</a>
        </li>
    <% }); %>
    </ul>
<%- include('../_footer'); %>