<%- include('../_header'); %>
    <h1><%= title %></h1>
    <p><b>Name:</b> <%= user.name %></p>
    <p><b>Password:</b> <%= user.password %></p>
    <a href="<%= user.id %>/edit">Edit</a>
    <a href="<%= user.id %>/destroy">Destroy</a>
<%- include('../_footer'); %>