<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <p><%= text %></p>

    <% if (link === undefined) { var link = '/'; } %>

    <p>If you are not automatically redirected, <a href="<%= link %>">click here</a>.</p>
    <script>
        window.setTimeout(function () {
            window.location.assign("<%= link %>");
        }, 2000);
    </script>
<%- include('../layouts/_footer'); %>