<%- include('../layouts/_header'); %>

    <h1><%= title %></h1>
    <p>This is Sequelize greeting you :)</p>

    <h2>Creating a new user</h2>

    <form action="/users/create" method="POST">
        <input type="text" name="name" />
        <input type="text" name="password" />
        <input type="submit" />
    </form>

    <h2><a href="/users">Users</a></h2>

    <ul>
    <% users.forEach(function (user) { %>
        <li>
            <a href="/users/<%= user.id %>"><%= user.name %></a>
        </li>
    <% }); %>
    </ul>

<%- include('../layouts/_footer'); %>
