<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <h2><a href="/users">Home</a></h2>
    <p><b>Name:</b> <%= user.name %></p>
    <a href="<%= user.id %>/edit">Edit</a>
    <a href="<%= user.id %>/delete">Delete my account</a>
<%- include('../layouts/_footer'); %>