<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <p><strong>Are you sure you want to delete your account?</strong> This action <em>cannot</em> be undone.</p>
    <form class="js-deleteform" method="POST" action="">
        <input type="hidden" name="nonce" value="<%= nonce %>" />
        <button type="submit">Yes, delete my account</button>
    </form>
    <p>
        <a href="/users/">No, I do not want to delete my account</a>
    </p>
    <script type="text/javascript">
        jQuery(function ($) {
            $('.js-deleteform').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    method: 'DELETE',
                    url: '/users/<%= user.id %>',
                    data: $(this).serialize(),
                    dataType: 'json'
                }).success(function () {
                    window.location.href = "/users";
                }).error(function () {
                    alert("The account could not be deleted.");
                });
            });
        });
    </script>
<%- include('../layouts/_footer'); %>