<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <form id="edit-form" action="" method="POST">
        <%- include('_form'); %>
    </form>
    <script type="text/javascript" src="/javascripts/jquery-validate.min.js"></script>
    <script type="text/javascript" src="/javascripts/sha512.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#edit-form').validate({
                submitHandler: function (form) {
                    var data = $(form).serialize().replace(/password=([^&]*)/, function (_, password) {
                        var shaObj = new jsSHA(password, 'TEXT');
                        return 'password='+shaObj.getHash('SHA-512', 'HEX');
                    });
                    $.ajax({
                        method: 'PUT',
                        url: '/users/<%= user.id %>',
                        data: data,
                        dataType: 'json'
                    }).success(function () {
                        window.location.href = "/users/<%= user.id %>";
                    }).error(function () {
                        alert("Invalid entry. Please re-enter the data.");
                    });
                }
            });
        });
    </script>
<%- include('../layouts/_footer'); %>