<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <ul>
    <% users.forEach(function (user) { %>
        <li>
            <a href="/users/<%= user.id %>"><b><%= user.name %></b></a>
        </li>
    <% }); %>
    </ul>
<%- include('../layouts/_footer'); %>