<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <form id="post-form" action="/posts/<%= post.id %>" method="POST" data-method="PUT">
        <%- include('_form'); %>
    </form>
<%- include('../layouts/_footer'); %>