<%- include('../layouts/_header'); %>
    <h1><a href="<%= post.link %>"><%= title %></a></h1>
    <h2><a href="/posts">Home</a></h2>

    <% if (post.description) { %>
        <p><%= post.description %></p>
    <% } %>

    <p><a href="<%= post.link %>"><%= post.link %></a></p>

    <p><strong>-- <a href="/users/<%= post.User.id %>"><%= post.User.name %></a></strong></p>

    <% if (account && account.id == post.User.id) { %>
        <a href="/posts/<%= post.id %>/edit">Edit</a> |
        <a href="/posts/<%= post.id %>/delete">Delete</a>
    <% } %>

<%- include('../layouts/_footer'); %>